.info {
  margin-right: 7.744%;
  padding-top: 71px;
  max-width: 48.6%;
}

.heading {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
}

.orange {
  color: #FF9900;
}

.descr {
  margin-bottom: 39px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.list {
  display: flex;
  justify-content: space-between;
}



